@import "../../helpers/colors/colors.scss";
@import "../../helpers/fonts/fonts.scss";


.Biology {
    background: url("../../helpers/assets/images/home/dots2.png") no-repeat;
    background-size: cover;
    background-color: $lightgray;
    }

.B-Table {
    display: block;
    max-width: 80%;
}

.Biology-wrapper {
    background: url("../../helpers/assets/images/home/dots2.png") no-repeat;
    background-size: cover;
}

.Biology-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
}