@import "../../helpers/colors/colors.scss";
@import "../../helpers/fonts/fonts.scss";


.Biology {
    background: url("../../helpers/assets/images/home/dots2.webp") no-repeat;
    background-size: cover;
    background-color: $lightgray;
    background-position: -2px 0px;
    }

.B-Table {
    display: block;
    max-width: 80%;
}

.Biology-wrapper {
    background: url("../../helpers/assets/images/home/dots2.webp") no-repeat;
    background-size: cover;
}

.Biology-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
}


@media (min-width: 1555px) { 
    .Biology {
        background-position: 8px 5px;
    }
}


@media (max-width: 1536px) { 
    .Biology {
        background-position: 0px 5px;
    }
}

@media (max-width: 1523px) { 
    .Biology {
        background-position: -5px 5px;
    }
}

@media (max-width: 1490px) { 
    .Biology {
        background-position: 8px 5px;
    }
}


@media (max-width: 1371px) { 
    .Biology {
        background-position: -2px 5px;
    }
}