@font-face {
    font-family: 'Rotonda-Bold';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: local('RotondaC-Bold'),
         url('../fonts/RotondaC-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'PTSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('RotondaC-Bold'),
         url('../fonts/PTSans-Regular.woff') format('woff'),
}


@font-face {
    font-family: 'PTSans-Bold';
    font-style: bold;
    font-weight: 600;
    font-display: swap;
    src: local('PTSans-Bold'),
         url('../fonts/PTSans-Bold.woff') format('woff'),
         url('../fonts/PTSans-Bold.woff2') format('woff2'),
}
