@import "../../../../helpers/colors/colors.scss";

.Biology-Drop-Icon {
  width: 27px;
  height: 27px;
  margin-right: 8px;
  fill: $white;
  cursor: pointer;
  stroke: $white;
  transition: 0.3s;
  margin-top: 2px;
  transform: rotate(0deg);
}

.Biology-Drop-Button.active .Biology-Drop-Icon {
  transform: rotate(180deg);
  margin-top: 0px;
  fill: $white;
}

@media (min-width: 989px) {
  .Biology-Drop-Button:hover .Biology-Drop-Icon {
    fill: $white;
  }
  }

  @media (max-width: 864px) {
    .Biology-Drop-Icon {
      width: 23px;
      height: 23px;
    }
   }