@import "../../../helpers/colors/colors.scss";
@import "../../../helpers/fonts/fonts.scss";

.Compound-Button {
    font-family: 'PTSans-Bold';
    font-style: bold;
    font-weight: 600;
    font-size: 23px;
    padding: 3px 9px 3px 45px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    position: relative;
    border: 2.5px solid $violet;
    background-color: $white;
    color: $violet;
    transition: 0.3s;
    cursor: pointer;
    min-width: 230px;
    text-align: center;
    margin: 5px 5px;
}

.Compound-Button.padding-30 {
    padding: 3px 9px 3px 30px;
}

.Compound-Button.fontSizeMin {
    font-size: 15px;
    max-width: 220px;
    padding: 2px 9px 2px 37px;
    line-height: 1.05;
}

.Compound-Button:hover::before {
    background-color: $blue;
}

.Compound-Button:hover {
    border-color: $blue;
    color: $blue;
}

.Compound-Button::before {
    position: absolute;
    content: "";
    height: 39px;
    width: 39px;
    background-color: $violet;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50% ;
    left: -4px;
    top: -2px;
}

.Compound-Button-subtext {
    position: absolute;
    font-size: 15px;
    max-width: 10px;
    line-height: 0.8;
    top: 5px;
    left: 8px;
    color: $white;
}

.Compound-Button-subtext.additional13 {
    font-size: 14px;
    left: 3.5px;
    top: 6px;
}

.Compound-Button-subtext.additional12 {
    font-size: 14px;
    left: 7px;
    top: 6px;
}