@import "../../helpers/colors/colors.scss";
@import "../../helpers/fonts/fonts.scss";


.WhenBuy {
    background: url("../../helpers/assets/images/home/dots2.png") center no-repeat;
    background-size: cover;
}

.WhenBuy-content {
    background-color: $white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 50px 10px 50px;
}


.When-Buy-Img {
    display: block;
    max-width: 270px;
}

.WhenBuy-Text {
    max-width: 410px;
    height: 100%;
    margin: 13px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.WhenBuy-text.forQuestion {
    height: 100%;
    margin: 13px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    max-height: 150px;
}

.WhenBuy-Text-Content {
    width: 100%;
    height: 100%;
    border: 3px solid $violet;
    padding: 10px 20px;
    border-radius: 13px;
}

.WhenBuy-Text-Content.forQuestion {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px 20px;
}


.Buy-Text-Title {
    font-family: 'Rotonda-Bold';
    font-style: bold;
    font-weight: 600;
    font-size: 24px;
    color: $violet;
    text-transform: uppercase;
    text-align: left;
}

.Buy-Text-Subtitle {
    font-family: 'PTSans-Bold';
    font-style: bold;
    font-weight: 600;
    font-size: 21px;
    color: $violet;
    text-align: left;
    line-height: 1.05;
    margin-top: 5px;
}

.Buy-Subtile-Additional {
    color: $green;
}

.Order-Button {
    border: 0;
    background-color: inherit;
    font-family: 'Rotonda-Bold';
    font-style: bold;
    font-weight: 600;
    font-size: 28px;
    color: $violet;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin: 30px 5px 10px 5px;
}

.WhenBuy-Order {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 290px;
    padding-top: 12.5px;
    background: inherit;
    background: linear-gradient($green 0%);
    padding: 15px 20px 0px 20px;
    border-radius: 13px;
    transition: 0.1s;
}


@media (max-width: 1051px) { 
.WhenBuy-content {
    flex-wrap: wrap;
}
}

@media (max-width: 571px) { 
  .Buy-Text-Title {
    font-size: 19px;
  }

  .WhenBuy-Text {
    margin: 13px 5px;
  }

  .Buy-Text-Subtitle {
    font-size: 17px;
  }

  .Order-Button {
    font-size: 24px;
  }

  .When-Buy-Img {
    max-width: 200px;
  }
    }