

.Buzzicol-Img {
    display: block;
    max-width: 380px;
}

@media (max-width: 899px) {
    .Buzzicol-Img {
        display: block;
        max-width: 280px;
    }
}

@media (max-width: 426px) {
    .Buzzicol-Img {
        max-width: 230px;
    }
}
    
