

.Buzzicol-Img {
    display: flex;
    max-width: 380px;
    height: auto;
    width: 100%;
}

@media (max-width: 899px) {
    .Buzzicol-Img {
        display: flex;
        max-width: 280px;
    }
}

@media (max-width: 426px) {
    .Buzzicol-Img {
        max-width: 230px;
    }
}
    
