@import "../../../helpers/colors/colors.scss";

.Arrow-Icon {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  fill: $violet;
  stroke: $white;
  transition: 0.3s;
}



@media (max-width: 952px) { 
  .Arrow-Icon {
    transform: rotate(90deg);
  }
}


