@import "../../../../helpers/colors/colors.scss";

.Document-Icon {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  fill: none;
  cursor: pointer;
  stroke: $white;
  transition: 0.2s;
}


@media (max-width: 426px) {
  .Document-Icon {
    width: 27px;
    height: 27px;
  }
}