@import "../../helpers/colors/colors.scss";
@import "../../helpers/fonts/fonts.scss";

.Intro {
    height: auto;
    width: 100%;
    padding-top: 190px;
    display: flex;
    background: url("../../helpers/assets/images/home/dots2.png") center no-repeat;
    background-size: cover;
}



.Intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
    margin-bottom: 20px;
}

.Intro-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Advantages-container {
    display: flex;
    flex-direction: column;
}

.Intro-title {
    font-family: 'Rotonda-Bold';
    font-style: bold;
    font-weight: 600;
    font-size: 37px;
    color: $violet;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.Intro-content {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 12px 0px 0px 80px;
}


@media (max-width: 899px) {
    .Intro-wrapper {
        align-items: center;
        flex-wrap: wrap;
    }

}