@import "../../helpers/colors/colors.scss";
@import "../../helpers/fonts/fonts.scss";

.Intro {
    height: auto;
    width: 100%;
    padding-top: 190px;
    display: flex;
    background: url("../../helpers/assets/images/home/dots2.webp") no-repeat;
    background-size: cover;
    background-position: -2px 2px;
}

.Intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
    margin-bottom: 20px;
}

.Intro-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Advantages-container {
    display: flex;
    flex-direction: column;
}

.Intro-title {
    font-family: 'Rotonda-Bold';
    font-style: bold;
    font-weight: 600;
    font-size: 37px;
    color: $violet;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 40px;

}

.Intro-subtile {
    margin: 0;
    padding: 0;
}

.Intro-content {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 12px 0px 0px 80px;
    animation: HideDiv 0.2s forwards;
}

@keyframes HideDiv {
    0%, 99% {
      display: none;
    }
    100% {
      display: flex;
    }
  }

@media (min-width: 1555px) { 
    .Intro {
        background-position: -13px 10px;
    }
}


  @media (max-width: 1536px) { 
    .Intro {
        background-position: 0px 10px;
    }
}


  @media (max-width: 1523px) { 
    .Intro {
        background-position: -5px 10px;
    }
}


  @media (max-width: 1500px) { 
    .Intro {
        background-position: 27px 10px;
    }
}


@media (max-width: 1490px) { 
    .Intro {
        background-position: 18px 10px;
    }
}

@media (max-width: 1473px) { 
    .Intro {
        background-position: -10px 10px;
    }
}


@media (max-width: 1371px) { 
    .Intro {
        background-position: -5px -2px;
    }
}


@media (max-width: 1345px) { 
    .Intro {
        background-position: 12px -2px;
    }
}


@media (max-width: 980px) {
    .Intro-wrapper {
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .Intro-content {
        margin: 12px 0px 12px 0px;
        align-items: center;
    }

}


@media (max-width: 471px) {
    .Intro-title {
        font-size: 32px;
        margin-bottom: 22px;
    }    
  }

@media (max-width: 435px) {
    .Intro-title {
        font-size: 27px;
    }

    .Intro-wrapper {
       align-items: center;
    }

  }

 

  @media (max-width: 423px) {
   .Intro {
        background-position: -2px 15px;
   }
    
  }


  @media (max-width: 377px) {
    .Intro-title {
        font-size: 25px;
    }    
  }


  @media (max-width: 342px) {
    .Intro-title {
        font-size: 23px;
    }    
  }

  @media (max-width: 323px) {
    .Intro-title {
        font-size: 21px;
        margin-bottom: 22px;
    }    
  }
