@import "./helpers/fonts/fonts.scss";
@import "./helpers/colors/colors.scss";

body {
  margin: 0;
  font-family: 'PTSans-Bold';
  font-style: bold;
  font-weight: 600;
  font-size: 20px;
  color: $violet;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 35px 0;
}


